# Student Alcohol Consumption

In [1]:
from google.colab import drive

drive.mount('/content/gdrive')

Mounted at /content/gdrive

### Introduction:

This time you will download a dataset from the UCI.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv).

### Step 3. Assign it to a variable called df.

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv')

In [4]:
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [6]:
df.shape

(395, 33)

In [10]:
df.describe(include='all')

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
count,395,395,395.000000,395,395,395,395.000000,395.000000,395,395,...,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000
unique,2,2,NaN,2,2,2,NaN,NaN,5,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,GP,F,NaN,U,GT3,T,NaN,NaN,other,other,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,349,208,NaN,307,281,354,NaN,NaN,141,217,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,16.696203,NaN,NaN,NaN,2.749367,2.521519,NaN,NaN,...,3.944304,3.235443,3.108861,1.481013,2.291139,3.554430,5.708861,10.908861,10.713924,10.415190
std,NaN,NaN,1.276043,NaN,NaN,NaN,1.094735,1.088201,NaN,NaN,...,0.896659,0.998862,1.113278,0.890741,1.287897,1.390303,8.003096,3.319195,3.761505,4.581443
min,NaN,NaN,15.000000,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,3.000000,0.000000,0.000000
25%,NaN,NaN,16.000000,NaN,NaN,NaN,2.000000,2.000000,NaN,NaN,...,4.000000,3.000000,2.000000,1.000000,1.000000,3.000000,0.000000,8.000000,9.000000,8.000000
50%,NaN,NaN,17.000000,NaN,NaN,NaN,3.000000,2.000000,NaN,NaN,...,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,4.000000,11.000000,11.000000,11.000000
75%,NaN,NaN,18.000000,NaN,NaN,NaN,4.000000,3.000000,NaN,NaN,...,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,8.000000,13.000000,13.000000,14.000000
max,NaN,NaN,22.000000,NaN,NaN,NaN,4.000000,4.000000,NaN,NaN,...,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,75.000000,19.000000,19.000000,20.000000

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    object
 1   sex         395 non-null    object
 2   age         395 non-null    int64
 3   address     395 non-null    object
 4   famsize     395 non-null    object
 5   Pstatus     395 non-null    object
 6   Medu        395 non-null    int64
 7   Fedu        395 non-null    int64
 8   Mjob        395 non-null    object
 9   Fjob        395 non-null    object
 10  reason      395 non-null    object
 11  guardian    395 non-null    object
 12  traveltime  395 non-null    int64
 13  studytime   395 non-null    int64
 14  failures    395 non-null    int64
 15  schoolsup   395 non-null    object
 16  famsup      395 non-null    object
 17  paid        395 non-null    object
 18  activities  395 non-null    object
 19  nursery     395 non-null    object
 20  higher      395 non-null    object
 21  internet    395 non-null    object
 22  romantic    395 non-null    object
 23  famrel      395 non-null    int64
 24  freetime    395 non-null    int64
 25  goout       395 non-null    int64
 26  Dalc        395 non-null    int64
 27  Walc        395 non-null    int64
 28  health      395 non-null    int64
 29  absences    395 non-null    int64
 30  G1          395 non-null    int64
 31  G2          395 non-null    int64
 32  G3          395 non-null    int64
dtypes: int64(16), object(17)
memory usage: 102.0+ KB

### Step 4. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

In [5]:
df = df.loc[:, 'school':'guardian']
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother
4,GP,F,16,U,GT3,T,3,3,other,other,home,father

### Step 5. Create a lambda function that will capitalize strings.

In [6]:
cap_strings = lambda x: x.capitalize()

In [7]:
%%timeit
df.Fjob.apply(cap_strings)

266 Âµs Â± 5.06 Âµs per loop (mean Â± std. dev. of 7 runs, 1000 loops each)

In [8]:
%%timeit
df.Fjob.str.capitalize()

197 Âµs Â± 24.9 Âµs per loop (mean Â± std. dev. of 7 runs, 1000 loops each)

### Step 6. Capitalize both Mjob and Fjob

In [9]:
(
    df.Mjob.apply(
        lambda x: cap_strings(x)
    )
)

0       At_home
1       At_home
2       At_home
3        Health
4         Other
         ...
390    Services
391    Services
392       Other
393    Services
394       Other
Name: Mjob, Length: 395, dtype: object

In [10]:
df.Mjob = df.Mjob.apply(lambda x: cap_strings(x))
df.Fjob = df.Fjob.apply(lambda x: cap_strings(x))
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
0,GP,F,18,U,GT3,A,4,4,At_home,Teacher,course,mother
1,GP,F,17,U,GT3,T,1,1,At_home,Other,course,father
2,GP,F,15,U,LE3,T,1,1,At_home,Other,other,mother
3,GP,F,15,U,GT3,T,4,2,Health,Services,home,mother
4,GP,F,16,U,GT3,T,3,3,Other,Other,home,father

In [11]:
df.Mjob.apply(cap_strings)

0       At_home
1       At_home
2       At_home
3        Health
4         Other
         ...
390    Services
391    Services
392       Other
393    Services
394       Other
Name: Mjob, Length: 395, dtype: object

In [12]:
# other approach

df = (df.assign(
    Mjob = lambda x: x.Mjob.str.capitalize(),
    Fjob = lambda x: x.Fjob.str.capitalize()
    )
)

In [13]:
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
0,GP,F,18,U,GT3,A,4,4,At_home,Teacher,course,mother
1,GP,F,17,U,GT3,T,1,1,At_home,Other,course,father
2,GP,F,15,U,LE3,T,1,1,At_home,Other,other,mother
3,GP,F,15,U,GT3,T,4,2,Health,Services,home,mother
4,GP,F,16,U,GT3,T,3,3,Other,Other,home,father

### Step 7. Print the last elements of the data set.

In [14]:
df.tail()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
390,MS,M,20,U,LE3,A,2,2,Services,Services,course,other
391,MS,M,17,U,LE3,T,3,1,Services,Services,course,mother
392,MS,M,21,R,GT3,T,1,1,Other,Other,course,other
393,MS,M,18,R,LE3,T,3,2,Services,Other,course,mother
394,MS,M,19,U,LE3,T,1,1,Other,At_home,course,father

### Step 8. Did you notice the original dataframe is still lowercase? Why is that? Fix it and capitalize Mjob and Fjob.

### Step 9. Create a function called majority that returns a boolean value to a new column called legal_drinker (Consider majority as older than 17 years old)

In [16]:
majority = lambda x: x > 17

In [17]:
df['legal_drinker'] = df.age.apply(lambda x: majority(x))
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,legal_drinker
0,GP,F,18,U,GT3,A,4,4,At_home,Teacher,course,mother,True
1,GP,F,17,U,GT3,T,1,1,At_home,Other,course,father,False
2,GP,F,15,U,LE3,T,1,1,At_home,Other,other,mother,False
3,GP,F,15,U,GT3,T,4,2,Health,Services,home,mother,False
4,GP,F,16,U,GT3,T,3,3,Other,Other,home,father,False

In [18]:
# better/more concise:
df.age.apply(majority)

0       True
1      False
2      False
3      False
4      False
       ...
390     True
391    False
392     True
393     True
394     True
Name: age, Length: 395, dtype: bool

### Step 10. Multiply every number of the dataset by 10. 
##### I know this makes no sense, don't forget it is just an exercise

In [45]:
df*10

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,legal_drinker
0,GPGPGPGPGPGPGPGPGPGP,FFFFFFFFFF,180,UUUUUUUUUU,GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3,AAAAAAAAAA,40,40,At_homeAt_homeAt_homeAt_homeAt_homeAt_homeAt_h...,TeacherTeacherTeacherTeacherTeacherTeacherTeac...,coursecoursecoursecoursecoursecoursecoursecour...,mothermothermothermothermothermothermothermoth...,10
1,GPGPGPGPGPGPGPGPGPGP,FFFFFFFFFF,170,UUUUUUUUUU,GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3,TTTTTTTTTT,10,10,At_homeAt_homeAt_homeAt_homeAt_homeAt_homeAt_h...,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,coursecoursecoursecoursecoursecoursecoursecour...,fatherfatherfatherfatherfatherfatherfatherfath...,0
2,GPGPGPGPGPGPGPGPGPGP,FFFFFFFFFF,150,UUUUUUUUUU,LE3LE3LE3LE3LE3LE3LE3LE3LE3LE3,TTTTTTTTTT,10,10,At_homeAt_homeAt_homeAt_homeAt_homeAt_homeAt_h...,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,otherotherotherotherotherotherotherotherothero...,mothermothermothermothermothermothermothermoth...,0
3,GPGPGPGPGPGPGPGPGPGP,FFFFFFFFFF,150,UUUUUUUUUU,GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3,TTTTTTTTTT,40,20,HealthHealthHealthHealthHealthHealthHealthHeal...,ServicesServicesServicesServicesServicesServic...,homehomehomehomehomehomehomehomehomehome,mothermothermothermothermothermothermothermoth...,0
4,GPGPGPGPGPGPGPGPGPGP,FFFFFFFFFF,160,UUUUUUUUUU,GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3,TTTTTTTTTT,30,30,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,homehomehomehomehomehomehomehomehomehome,fatherfatherfatherfatherfatherfatherfatherfath...,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MSMSMSMSMSMSMSMSMSMS,MMMMMMMMMM,200,UUUUUUUUUU,LE3LE3LE3LE3LE3LE3LE3LE3LE3LE3,AAAAAAAAAA,20,20,ServicesServicesServicesServicesServicesServic...,ServicesServicesServicesServicesServicesServic...,coursecoursecoursecoursecoursecoursecoursecour...,otherotherotherotherotherotherotherotherothero...,10
391,MSMSMSMSMSMSMSMSMSMS,MMMMMMMMMM,170,UUUUUUUUUU,LE3LE3LE3LE3LE3LE3LE3LE3LE3LE3,TTTTTTTTTT,30,10,ServicesServicesServicesServicesServicesServic...,ServicesServicesServicesServicesServicesServic...,coursecoursecoursecoursecoursecoursecoursecour...,mothermothermothermothermothermothermothermoth...,0
392,MSMSMSMSMSMSMSMSMSMS,MMMMMMMMMM,210,RRRRRRRRRR,GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3,TTTTTTTTTT,10,10,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,coursecoursecoursecoursecoursecoursecoursecour...,otherotherotherotherotherotherotherotherothero...,10
393,MSMSMSMSMSMSMSMSMSMS,MMMMMMMMMM,180,RRRRRRRRRR,LE3LE3LE3LE3LE3LE3LE3LE3LE3LE3,TTTTTTTTTT,30,20,ServicesServicesServicesServicesServicesServic...,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,coursecoursecoursecoursecoursecoursecoursecour...,mothermothermothermothermothermothermothermoth...,10
394,MSMSMSMSMSMSMSMSMSMS,MMMMMMMMMM,190,UUUUUUUUUU,LE3LE3LE3LE3LE3LE3LE3LE3LE3LE3,TTTTTTTTTT,10,10,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,At_homeAt_homeAt_homeAt_homeAt_homeAt_homeAt_h...,coursecoursecoursecoursecoursecoursecoursecour...,fatherfatherfatherfatherfatherfatherfatherfath...,10

In [48]:
df.dtypes

school           object
sex              object
age               int64
address          object
famsize          object
Pstatus          object
Medu              int64
Fedu              int64
Mjob             object
Fjob             object
reason           object
guardian         object
legal_drinker      bool
dtype: object

In [54]:
df.select_dtypes(include = np.number)*10

     age  Medu  Fedu
0    180    40    40
1    170    10    10
2    150    10    10
3    150    40    20
4    160    30    30
..   ...   ...   ...
390  200    20    20
391  170    30    10
392  210    10    10
393  180    30    20
394  190    10    10

[395 rows x 3 columns]

In [19]:
def times10(x):
    if type(x) is int:
        return 10 * x
    return x

In [22]:
%%timeit
df.apply(times10).head(10)

963 Âµs Â± 33 Âµs per loop (mean Â± std. dev. of 7 runs, 1000 loops each)

In [23]:
%%timeit
df.applymap(times10).head(10)

3.16 ms Â± 352 Âµs per loop (mean Â± std. dev. of 7 runs, 100 loops each)