# Fictitious Names

### Introduction:

This time you will create a data again 

Special thanks to [Chris Albon](http://chrisalbon.com/) for sharing the dataset and materials.
All the credits to this exercise belongs to him.  

In order to understand about it go [here](https://blog.codinghorror.com/a-visual-explanation-of-sql-joins/).

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Create the 3 DataFrames based on the following raw data

In [3]:
raw_data_1 = {
        'subject_id': ['1', '2', '3', '4', '5'],
        'first_name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'], 
        'last_name': ['Anderson', 'Ackerman', 'Ali', 'Aoni', 'Atiches']}

raw_data_2 = {
        'subject_id': ['4', '5', '6', '7', '8'],
        'first_name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'], 
        'last_name': ['Bonder', 'Black', 'Balwner', 'Brice', 'Btisan']}

raw_data_3 = {
        'subject_id': ['1', '2', '3', '4', '5', '7', '8', '9', '10', '11'],
        'test_id': [51, 15, 15, 61, 16, 14, 15, 1, 61, 16]}

### Step 3. Assign each to a variable called data1, data2, data3

In [6]:
data1 = pd.DataFrame(raw_data_1)
data2 = pd.DataFrame(raw_data_2)
data3 = pd.DataFrame(raw_data_3)

In [7]:
data1

  subject_id first_name last_name
0          1       Alex  Anderson
1          2        Amy  Ackerman
2          3      Allen       Ali
3          4      Alice      Aoni
4          5     Ayoung   Atiches

In [8]:
data2

  subject_id first_name last_name
0          4      Billy    Bonder
1          5      Brian     Black
2          6       Bran   Balwner
3          7      Bryce     Brice
4          8      Betty    Btisan

In [9]:
data3

  subject_id  test_id
0          1       51
1          2       15
2          3       15
3          4       61
4          5       16
5          7       14
6          8       15
7          9        1
8         10       61
9         11       16

### Step 4. Join the two dataframes along rows and assign all_data

In [20]:
all_data = pd.concat([data1, data2])
all_data = all_data.reset_index(drop=True).sort_values(by='subject_id')
all_data

  subject_id first_name last_name
0          1       Alex  Anderson
1          2        Amy  Ackerman
2          3      Allen       Ali
3          4      Alice      Aoni
5          4      Billy    Bonder
4          5     Ayoung   Atiches
6          5      Brian     Black
7          6       Bran   Balwner
8          7      Bryce     Brice
9          8      Betty    Btisan

Did this with `concat`. Try this with a join.

In [23]:
all_data2 = (
    data1.merge(data2, how='outer')
    .reset_index(drop=True)
    .sort_values(by= 'subject_id')
)

#### Row-wise `concat` is the same as an outer `merge` with no `on` column specified. Once reindexed and sorted, `concat` and `merge` produce identical results.

In [25]:
all_data.equals(all_data2)

True

### Step 5. Join the two dataframes along columns and assing to all_data_col

If the meaning is just column-wise concat:

In [31]:
all_data_col = pd.concat([data1, data2], axis=1)
all_data_col

  subject_id first_name last_name subject_id first_name last_name
0          1       Alex  Anderson          4      Billy    Bonder
1          2        Amy  Ackerman          5      Brian     Black
2          3      Allen       Ali          6       Bran   Balwner
3          4      Alice      Aoni          7      Bryce     Brice
4          5     Ayoung   Atiches          8      Betty    Btisan

This doesn't make a lot of sense as a data table. `merge` on `subject_id` might make more sense.


I'm not sure I can think of another way than concat on columns.

### Step 6. Print data3

In [34]:
print(data3)

  subject_id  test_id
0          1       51
1          2       15
2          3       15
3          4       61
4          5       16
5          7       14
6          8       15
7          9        1
8         10       61
9         11       16

### Step 7. Merge all_data and data3 along the subject_id value

In [38]:
(all_data
 .merge(data3, how='left', on='subject_id')
 .assign(test_id = lambda x: x.test_id.astype('Int64'))
)

  subject_id first_name last_name  test_id
0          1       Alex  Anderson       51
1          2        Amy  Ackerman       15
2          3      Allen       Ali       15
3          4      Alice      Aoni       61
4          4      Billy    Bonder       61
5          5     Ayoung   Atiches       16
6          5      Brian     Black       16
7          6       Bran   Balwner     <NA>
8          7      Bryce     Brice       14
9          8      Betty    Btisan       15

### Step 8. Merge only the data that has the same 'subject_id' on both data1 and data2

In [45]:
(
 pd.merge(data1, data2, how='inner', on='subject_id')
)

  subject_id first_name_x last_name_x first_name_y last_name_y
0          4        Alice        Aoni        Billy      Bonder
1          5       Ayoung     Atiches        Brian       Black

In [44]:
?pd.merge

### Step 9. Merge all values in data1 and data2, with matching records from both sides where available.

In [47]:
 pd.merge(data1, data2, how='outer')

  subject_id first_name last_name
0          1       Alex  Anderson
1          2        Amy  Ackerman
2          3      Allen       Ali
3          4      Alice      Aoni
4          5     Ayoung   Atiches
5          4      Billy    Bonder
6          5      Brian     Black
7          6       Bran   Balwner
8          7      Bryce     Brice
9          8      Betty    Btisan